/* App.css */
.floating-chat-button {
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 1000; /* Ensure it's on top of other elements */
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .floating-chat-button.open {
    transform: translateY(10px); /* Move the button down by 10px */
  }
  .chatbox-container {
    position: fixed;
    bottom: 50px;
    right: 20px;
    border-top-left-radius: 10%;
    z-index: 999; /* Ensure it's below the button but above other elements */
    background-color: white;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    max-width: 360px;
    width: 100%;
    max-height: 75vh;
    overflow-y: auto;
  }
  